body {background-color: #F5FAFA;
      font-family: sans-serif;}

h1 {color: #6D929B;}

p {color: #6D929B;}



a:hover {background-color: white;
	 color: #FB9A18;
	}

a:link {text-decoration: none;
        color: #FB9A18;
        }

a:visited {text-decoration: none;
           color: #FB9A18}

a:active {text-decoration: none;
	  color: #FB9A18;}

#map, .show_image {display: inline-block;}

#Locational { float: none;}



#image-bar { float: left;}
