body {background-color: #F5FAFA;
      font-family: sans-serif;
      color: #FB9A18}

h1, h2 {color: #6D929B;
        }

p {color: #6D929B;}

img {height: 200px;}

a:hover {background-color: white;
	 color: #FB9A18;
	}

a:link {text-decoration: none;
        color: #FB9A18;
        }

a:visited {text-decoration: none;
           color: #FB9A18}

a:active {text-decoration: none;
	  color: #FB9A18;}

#map {float: left;
      margin: 10px;}

#Locational { float: none;
              margin: 10px;}

#whispers {float: none;
           font-size: 1.5em;}

#image-bar {float: left;}

#menu {float: left;
       font-size: 1.5em;
       color: #6D929B;}


