body {background-color: #F5FAFA;
      font-family: sans-serif;}

h1 {color: #6D929B;}

p {color: #6D929B;}



A:hover {background-color: white;
	 color: #FB9A18;
	}

A:link {text-decoration: none;
        color: #FB9A18;
        }

A:visited {text-decoration: none;
           color: #FB9A18}

A:active {text-decoration: none;
	  color: #FB9A18;}

#map, .show_image {float: left;}
